 h1{
  color:#e8afa0;
  text-decoration: underline
  text-align: center;
}


h2{
background-color:#e8afa0;
font-weight: bold;
}
 body{
              background-color: #fde9e0;              
              font-size: 16px;
              margin: 0 auto;
              max-width: 1200px;              
          }

 
table{
width :100%
padding: 5px;
border: 1px solid black;
}





td { 
 border-width:2px;
 border-style:solid; 
 border-color:#fd9c9e;
 width:30%;
 }